body{

	text-align: center;

}
.panel{
	width: 1003px;
	margin: 40px auto;
}

.panel #container{
	display: inline-block;
	vertical-align: top;
	width: 600px;
	height: 600px;
	background-image: url('./assets/transparent.png')
}

.panel .content{
	display: inline-block;
	vertical-align: top;
	width: 380px;
}

#marksTable{
	width:100%;
	margin-top: 0;
}

.table{

}

.table th, .table td {  
text-align: center;  
vertical-align: middle!important;  
}  

.colorSpan{
	display: block;
	width: 28px;
	height: 28px;
	color:#FFF;
	line-height: 28px;
}